	
	/*M E N U*/
	/*Menu principal*/
	:root {
  --main-bg-color: black;
}
	body{
			background-image: url(../img/12.jpg); ;
			background-color: #78430e;
			margin: 0;

	}
	a {
		color: inherit; 
		text-decoration: inherit;
		display: block;
		border: 5px;
		margin-left: 5px;
		margin-right: 5px;
		margin-top: 15px;
		margin-bottom: 15px;
	}
	li{
		color: inherit;
		text-decoration: inherit;
	}
	ul{
		list-style: inherit;
		text-align:center;
	}
	.menu{
		display: block;
		background-color: var(--main-bg-color);
		padding: 0.25em 6em 0.25em 6em;
		margin-left: auto;
		margin-right: auto;
				 border-radius: 50%;
		/*configuracion de fuente letras del menu*/
		color: white;
		text-decoration: none;
		list-style: none;
		font-size: 30px;
		
	}
	.submenu li{
	display: inline-block;

	}
	.menu li:hover{

		background-color: #78430e;
		transition-duration: 750ms;
		 border-radius: 50%;
	}
	.smi{
		margin-left: 5px;
		margin-right: 5px;

	}
	/*F I N     D E L    M E N U*/

	.ing{
		text-align: center;
		margin-top: -110px;	}

		.bloqimg{
		display: block;

		padding: 0.25em 6em 0.25em 6em;
		margin-left: auto;
		margin-right: auto;

		
	}
	.sub-bloqimg li{
	display: inline-block;

	}

		.menufinal{
		display: block;
		background-color: var(--main-bg-color);
		padding: 0.20em 3em 0.50em 3em;
		margin-left: auto;
		margin-right: auto;
		
		/*configuracion de fuente letras del menu*/
		color: white;
		text-decoration: none;
		list-style: none;
		font-size: 30px;
		
	}
	.submenufinal li{
	display: inline-block;

	}
	.menufinal li:hover{

		background-color: #78430e;
		transition-duration: 750ms;
		 border-radius: 50%;
	}
	.bloque{
	background-image: radial-gradient(black 50%, transparent);


}